{% extends 'register_base.html' %}
{% load static %}

<head>
    <title>Log in</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesLogin.css' %}">
    {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU10w440vq8XeBPOrYEONXDKmSpa4j6I4TjcKPEQ2Or5J6"
    crossorigin="anonymous">
</head>

{% block content %}
<br>
<div class="container-fluid">
    <br>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
          <div class="card-header">Log in</div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
              </div>
              <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
              </div>
              <button class="btn btn-primary btn-block" type="submit">log in</button>
            </form>
            <br>
            <p class="mt-3 mb-0">Don't have an account yet? <a href="{% url 'signup' %}"> Sign up</a></p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
{% endblock %}