{% extends 'register_base.html' %}
{% load static %}

<head>
    <title>Change Password</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesLogin.css' %}">
    {% endblock %}

</head>

{% block content %}
<br>
<div class="container-fluid">
    <br>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
          <div class="card-header">Change Password</div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <br><br>
              <input class="btn btn-success" type="submit"
              value="Change my password">
             </form>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
{% endblock %}

