{% extends 'register_base.html' %}
{% load static %}

<head>
    <title>Panel</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesListView.css' %}">
    {% endblock %}

</head>

{% block content %}
<br><br><br><br>
<p style="text-align:center" class="title">Cities - Admin Panel</p>
<br><br>
<div align="left" style="margin-left:30px;"><a href="{% url 'city_create' %}"><button class="button-new">+ New</button></a></div>


<div class="box-container">
    {% for city in city_list %}
    <div class="list-item">
        <div class="list-title">{{ city.city }}</div>
        <div class="list-buttons">
            <a href="{% url 'city_update' city.pk %}"><button class="button-edit">Edit</button></a>
            <a href="{% url 'city_delete' city.pk %}"><button class="button-delete">Delete</button></a>
        </div>
    </div>
    {% endfor %}
</div>
<br><br><br>
{% endblock %}