{% block content %}
    <h1>Cart</h1>
    {% if cart_items %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item, total_price in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price }}</td>
                        <td>${{ total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Total: ${{ cart_total }}</p>
        <form action="{% url 'checkout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Checkout</button>
        </form>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}
