{% extends 'register_base.html' %}
{% load static %}

<head>
    <title>Cart</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesCardView.css' %}">
    {% endblock %}
</head>

{% block content %}
<br><br><br>
    <h1>&nbsp;&nbsp;&nbsp;Cart</h1>
    {% if cart_items %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item, total_price in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price }}</td>
                        <td>${{ item.get_total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <br>
        <p style="text-align:Right;padding-inline: 100px;">Total: ${{ cart_total }}</p>
        <div class="button-container">
            <a href="{% url 'product_view' %}" class="btn-primary btn-animation">Continue shopping</a>

            <a href="{% url 'checkout' %}">
              <button type="submit" class="btn">Order tracking</button>
            </a>
        </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    <br><br><br><br><br>
{% endblock %}
