{% extends 'register_base.html' %}
{% load static %}

<head>
    <title>HafezAghili</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHafez.css' %}" />
    {% endblock %}

</head>

{% block content %}

    <body bgcolor="#eff4f4">
        <div class="hero">
            <div class="page">
                <h1>I'm Hafezaghili</h1>
                <p>I'm <span id="element" style="color:blue"></span></p>
                <br>
                <button onclick="goBack()" class="btn btn-primary">Back to Previous Page</button>
            </div>

            <div class="images">
                <img src="{% static 'images/profileBG.png'%}" class="shape">
                <img src="{% static 'images/profile.png'%}" class="profile">
            </div>
        </div>


  <!-- Load library from the CDN -->
  <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

  <!-- Setup and start animation! -->
  <script>
    var typed = new Typed('#element', {
      strings: ['Data Scientist'
                , 'Programmer'
                , 'Power BI Developer'
                , 'Web Developer'],
      typeSpeed: 100,
    });
  </script>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><hr>
    </body>
    
    {% endblock content %}