{% load static %}


<head>
	<title>HafezAghili's Nuts</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesPanel.css' %}" />

</head>

<div class="features" id="features">
    <div class="container">
      <div class="box quality">
        <div class="image"></div>
        <div class="text">
          <h3>Test</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            harum hic veniam eligendi minima
          </p>
        </div>
        <a href="#">More</a>
      </div>
      <div class="box time">
        <div class="image"></div>
        <div class="text">
          <h3>Test</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            harum hic veniam eligendi minima
          </p>
        </div>
        <a href="#">More</a>
      </div>
      <div class="box passion">
        <div class="image"></div>
        <div class="text">
          <h3>Test</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            harum hic veniam eligendi minima
          </p>
        </div>
        <a href="#">More</a>
      </div>
    </div>

    <div class="features" id="features">
        <div class="container">
          <div class="box quality">
            <div class="image"></div>
            <div class="text">
              <h3>Test</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                harum hic veniam eligendi minima
              </p>
            </div>
            <a href="#">More</a>
          </div>
          <div class="box time">
            <div class="image"></div>
            <div class="text">
              <h3>Test</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                harum hic veniam eligendi minima
              </p>
            </div>
            <a href="#">More</a>
          </div>
          <div class="box passion">
            <div class="image"></div>
            <div class="text">
              <h3>Test</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                harum hic veniam eligendi minima
              </p>
            </div>
            <a href="#">More</a>
          </div>
        </div>

