{% extends 'product_base.html' %}
{% block content %}
<br><br><br>

<div class="post-entry">
    <h2>name: {{ product.name }}</h2>
    <p>price: {{ product.price }}</p>
    <p>category: {{ product.category }}</p>
    <img src="{{ product.img.url }}">
</div>
    
<p><a href="{% url 'product_update' product.pk %}" class="product_update"><b> + Edit product </b></a></p>
<p><a href="{% url 'product_delete' product.pk %}" class="product_delete"><b> + Delete product </b></a></p>

{% endblock content %}