{% extends 'base.html' %}
{% block content %}
    <br><br><br>

    <div class="post-entry"> 
        <div class="products-container">
            <div class="box">
                <img src="{{ object.img.url }}" alt="{{ object.name }}">
                <h3>{{ object.name }}</h3>
                <br>
                <div class="content">
                    <span>Price: ${{ object.price }}</span>
                    <span>Category: {{ object.category }}</span> 
                    <span>Quality: {{ object.quality }}</span> 
                    <span>
                        <ul>
                            {% for supplier in supplier_list %}
                                <li>Supplier: {{ supplier.name }}</li>
                            {% endfor %}
                        </ul>
                    </span> 
                    <span>Expiration at: {{ object.expiration_at }}</span>
                </div>
                <br>
                <!-- add to cart -->
                <div class="content">
                    <form action="{% url 'product_detail' pk=object.pk %}" method="post">
                        {% csrf_token %}
                        {{ cart_form.as_p }}
                        <button type="submit">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

